.finish-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid gray;
}

.phone-field,
.country-select {
  width: 100%;
  margin: 10px;
}

.gender-date-container .gender-field {
  width: 50%;
  margin-top: 23px;
}
.gender-date-container .dob-container {
  margin: 0%;
  width: 40%;
}

.gender-date-container .dob-container {
  display: flex;
  flex-direction: column;
  margin: 0%;
}

.gender-date-container .dob-container .dob-field {
  margin: 0%;
}
