.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1rem;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid gray;
}

.gender-date-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.gender-date-container .gender-field {
  width: 50%;
  margin-top: 23px;
}
.gender-date-container .dob-container {
  margin: 0%;
  width: 40%;
}

.gender-date-container .dob-container {
  display: flex;
  flex-direction: column;
  margin: 0%;
}

.gender-date-container .dob-container .dob-field {
  margin: 0%;
}

.email-field,
.password-field,
.confirm-password-field,
.name-field,
.last-name-field,
.phone-field,
.country-select {
  width: 100%;
  margin: 10px;
}

.signup-button {
  width: 100%;
}

.google-signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 80%;
}

.google-signup-container .google-signup-button {
  margin-left: 1rem;
}
